---
import Layout from "../layouts/BlogPost.astro";
import { getMetadata } from "../libs/cms/microcms";
import { renderMarkdown } from "../libs/markdown/render";

const metadata = await getMetadata();
const about = await renderMarkdown(metadata.aboutme);
---

<Layout
  id="about_me"
  title="About Me"
  createdAt={metadata.createdAt}
  updatedAt={metadata.updatedAt}
  eyecatch={{
    url: metadata.eyecatch?.url ?? "",
  }}
  toc={about.toc}
>
  <section class="mt-4">
    <div set:html={about.code} />
  </section>
</Layout>
