---
interface Props {
  siteTitle: string;
}

const { siteTitle } = Astro.props;
---

<header class="p-0 sticky top-0 left-0 right-0 z-50 h-0">
  <nav class="flex items-start justify-between">
    <h2
      class="py-1 px-4 backdrop-blur-sm rounded bg-black/5 hover:bg-black/20 transition-colors"
    >
      <a href="/" class="">{siteTitle}</a>
    </h2>
  </nav>
</header>
